.back-home-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  font-size: 12px;
  color: black;
}
.login-button {
  position: absolute;
  top: 20px;
  right: 20px;
  &.active {
    text-decoration: line-through;
  }
}
button {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}